body {
    margin: auto;
    overflow: auto;
    /*background: linear-gradient(315deg, rgb(0, 79, 101) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(25, 121, 255) 98%);*/
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    overflow-x: hidden;
}

font-face {
    src: url("css/MatheusFont.tff");
    font-family: 'Font';
}

p {
    font-family: 'Font';
}

h1 {
    font-family: 'Font';
}

h2 {
    font-family: 'Font';
}

h3 {
    font-family: 'Font';
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}

.nav-matheusmax {
    /*background-color: #01031e!important;*/
    height: 100px;
}

/* scroll */

::-webkit-scrollbar {
    width: 5px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #00a8c5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #84d3e0;
    border-radius: 20px;
}

/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

.zakimg {
    border-radius: 50%;
    width: 100px;
    height: auto;
    border: 5px solid #010539;
}

.border {
    background-color: #f1f1f1;
    border-radius: 50%;
}

/*----  Main Style  ----*/

#cards_landscape_wrap-2 {
    text-align: center;
    background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
    padding-top: 80px;
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%;
    height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
}

.shadow3 {
    background-image: url("http://www.commixturesoft.com/img/shadow3.png");
    background-repeat: no-repeat;
}

.height450 {
    height: 450px;
}

.badge-info {
    background-color: rgba(23, 160, 184, 0.17);
    color: #17a2b8;
}

.section-title .badge {
    margin: 0 0 8px;
}

.badge {
    border-radius: 100px;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
    padding: 4px 14px;
    text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3f345f;
}

h2 {
    font-size: 36px;
}

.social-overlap {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.social-bar {
    display: flex;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
    border: 1px solid#ebe9e9;
}

.iconpad {
    padding: 12px 0;
    width: 100%;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;
}

.social-icons a {
    border-radius: 50px;
    color: #3f345f;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 15px 15px;
    font-size: 22px;
}

a {
    text-decoration: none !important;
    color: #3f345f;
    transition: all 0.3s ease 0s;
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

/*socil*/

.slider-nav {
    display: flex;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

.process-scetion .slider-nav-item:nth-child(2) {
    color: #40beff;
}

.process-scetion .slider-nav-item:nth-child(3) {
    color: #311f9b;
}

.process-scetion .slider-nav-item:nth-child(4) {
    color: #ff9259;
}

.process-scetion .slider-nav-item:nth-child(5) {
    color: #38385f;
}

.process-scetion .slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: '';
    width: 100%;
    background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite;
}

.process-scetion .slider-nav-item:last-child:after {
    display: none;
}

.process-scetion .slider-nav-item .ikon {
    font-size: 50px;
    line-height: 80px;
}

.process-scetion .slider-nav-item.active:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

@keyframes focuse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    75% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

.shadow-img1 {
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.shadow-img2 {
    background-position: bottom;
    background-image: url("../img/shadow2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: '';
    width: 100%;
    background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite;
}

.mt100 {
    margin-top: 100px;
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.social-bar a:hover i {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

@media only screen and (max-width: 300px) {
    .process-scetion .slider-nav-item {
        height: 30px;
        width: 30px;
        margin: 15px 10px;
        line-height: 28px;
    }
}

.zakDC {
    background: url('http://dummyimage.com/100x100/000/fff');
}

.zakDC:hover {
    background: url('../img/discord.gif');
}